{
  email {$CADDY_EMAIL}
}

{$SIGNALLEDGER_SITE_ADDR} {
  encode zstd gzip

  header {
    Strict-Transport-Security "max-age=31536000"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "no-referrer"
    Permissions-Policy "camera=(), microphone=(), geolocation=()"
    Cross-Origin-Opener-Policy "same-origin"
    Cross-Origin-Resource-Policy "same-site"
    -Server
  }

  handle_path /api/* {
    reverse_proxy api:4315
  }

  handle {
    root * /srv/web
    try_files {path} /index.html
    file_server
  }
}
